In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf
# from statsmodels.tsa.api import Holt
from sklearn.metrics import mean_squared_error
from tqdm import tqdm
from statsmodels.tsa.arima.model import ARIMA
from pmdarima.arima import auto_arima

C:\Users\dai.STUDENTSDC\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [6]:
train = pd.read_csv(r'D:\workspace\MachineLearning\Kaggle_Rossmann\train.csv')
train.head()

<ipython-input-6-2698368754b8>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(r'D:\workspace\MachineLearning\Kaggle_Rossmann\train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1